
quadratic/.vs/quadratic/v15/.suo
*.db
*.log
*.obj
*.tlog
*.user
*.pdb
*.idb
*.ipch
*.filters
*.ilk
*.opendb
inheritance/.vs/inheritance/v15/.suo
Arkanoid/.vs/Arkanoid/v15/.suo
geom/.vs/geom/v15/.suo
Tree/.vs/Tree/v15/.suo
*.exe
Calculator/.vs/Calculator/v15/.suo
classList/.vs/classList/v15/.suo
*.xml
.idea/
Calculator/.idea/
tree_xml/
Tree/
TemplateStack/
Stack/
Shapes/
FuncStack/
cmake-build-debug/
classList/
*.vsidx
*.lock
Calculator/.vs/Calculator/v16/.suo
Calculator/.vs/Calculator/v17/.suo
