
quadratic/.vs/quadratic/v15/.suo
*.db
*.log
*.obj
*.tlog
*.user
*.pdb
*.idb
*.ipch
*.filters
*.ilk
*.opendb
inheritance/.vs/inheritance/v15/.suo
Arkanoid/.vs/Arkanoid/v15/.suo
geom/.vs/geom/v15/.suo
Tree/.vs/Tree/v15/.suo
